<!--<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
        @for(item of auteurs; track item.nom) {
      <tr>
        <td>{{ item._id }}</td>
        <td>{{  item.nom}}</td>
        <td>{{  item.photo }}</td>
      </tr>
    }
    </tbody>
  </table> -->

  <table mat-table [dataSource]="auteurs" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="demo-position">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="demo-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="demo-weight">
      <th mat-header-cell *matHeaderCellDef> Profile </th>
      <td mat-cell *matCellDef="let element"> {{element.photo}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

