
  <div class="content-img-head" [style.backgroundImage]="'url('+image_uri+'/matiere/'+assignment?.matiere?.image+')'">
    <div class="opacity-calc"></div>
    @if(isAdminConnected){
      <div class="remove-item" (click)="onDelete()">
        <i class="fas fa-times-circle"></i>
      </div>
    }
  </div>
  <mat-card-content>
    <div class="content-info-body">
      <div class="top-info">
        <p id="matiere">{{assignment?.matiere?.nom}}</p>
        <h2  [routerLink]="['/details-assignment', assignment?._id]" role="link" id="assignment-name" class="text-init-color text single-line">{{assignment?.nom}}</h2>
        <p>
          <span class="text-muted">
            <i class="far fa-calendar"></i>
          </span>
          <span class="mx-1" id="dateRendue">
            {{constructDate()}}
          </span>
        </p>
      </div>
      <div class="bottom-info">
        <div class="prof-info">
          <img class="rounded-circle" [src]="image_uri+'/professeur/'+assignment?.matiere?.prof?.photo" (error)="onImageError($event , 'professeur')" alt="" width="35">
          <p class="text-init-color">{{assignment?.matiere?.prof?.nom+" "+assignment?.matiere?.prof?.prenom}}</p>
        </div>
        <div class="other-info">
          <div class="rendu-info">
            <span class="text-muted">
              <i class="far" [ngClass]="{'fa-times-circle error-color' : !assignment?.rendu , 'fa-check-circle success-color' : assignment?.rendu}"></i>
            </span>
            <p class="m-0 mx-2" [ngClass]="{'error-color' : !assignment?.rendu , 'success-color' : assignment?.rendu}">{{ assignment?.rendu ? 'Rendu' : 'Non rendu' }}</p>
          </div>
          <div class="auteur-info">
            <img class="rounded-circle mx-2" [src]="image_uri+'/auteur/'+assignment?.auteur?.photo" (error)="onImageError($event , 'auteur')" alt="" width="28">
            <p class="text-init-color m-0">{{assignment?.auteur?.nom}}</p>
          </div>
        </div>
      </div>
    </div>
    </mat-card-content>
