.content-card{
  display: block;
}

.content-img-head{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 120px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  position: relative;
}

.remove-item{
  position: absolute;
  top: 5px;
  right: 6px;
  
  i{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
  }

  i:hover{
    color: rgb(240, 100, 100);
  }
}

.opacity-calc{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  background-color: #70707041;
}

.content-info-body{
  padding: 20px;
  height: 250px;
  background-color: #fff;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#matiere{
  font-size: 16px;
  color: #FF5930;
  font-weight: 600;
  font-family: 'Poppins', Open Sans !important;
}

#assignment-name{
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', Open Sans !important;
  position: relative;
  cursor: pointer;
}

#assignment-name:hover{
  color: #18a6f3;
}

#assignment-name:hover:after{
  font-family: "Font Awesome 6 Free";
  content: "\f05a";
  position: absolute;
  color: #209EE3;
  right: 10px;
  font-size: 18px;
  top: 0;
}

#dateRendue{
  color: #209EE3;
  font-weight: 500;
  font-size: 16px;
}

.prof-info{
  display: flex;
  align-items: center;
padding: 10px 0;

  p{
    margin: 0;
    margin-left: 6px;
    font-weight: 500;
  }
}

.text.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fa-times-circle,.fa-check-circle{
  font-size: 18px;
}

.rendu-info{
  display: flex;
  align-items: center;
}

.other-info{
  display: flex;
  justify-content: space-between;
}

.auteur-info{
  display: flex;
  align-items: center;
}

