
    <h4>Ajouter un nouveau étudiant </h4>
    <form (ngSubmit)="submit()" [formGroup]="createStudentForm">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input  [(ngModel)]="nom" matInput type="text" formControlName="nom">
        <mat-error *ngIf="createStudentForm.get('nom').invalid && createStudentForm.get('nom').touched">
          Nom est invalide.
        </mat-error>
      </mat-form-field>


      <button class="submit" type="submit" mat-raised-button [disabled]="createStudentForm.invalid">
       Enregistrer
      </button>
    </form>
    <div ngIf="errorMessage" class="error">{{ errorMessage }}</div>

