<h4 class="text-muted">
    {{config.tools+'s'}}
    <span style="font-size: 12px;">
        {{'('+nbElement + ')'}}
    </span>
</h4>
<div class="content-btn">
    <button mat-raised-button (click)="onAdd()" style="background-color: #2a7cc9; color: #fff;">
       <i class="pi pi-plus"></i>
        Ajouter un nouveau
    </button>
</div>
<p-table
    [value]="data"
    [scrollable]="true"
    scrollHeight="660px"
    [loading]="loadingData"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            @for (field of config.header.fields; track $index) {
                <th> {{ config.header.labels && config.header.labels[field.name] ? config.header.labels[field.name] : field.name }}</th>
            }
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            @for (field of config.header.fields; track $index) {
                @if (typeData(getDataWithtKey(field , data)) ==='img') {
                    <td>
                        <p-avatar
                            pBadge
                            value="4"
                            [image]="img_uri(field , getDataWithtKey(field , data))"
                            (onImageError)="onImageError($event, getPathSection(field))"
                            size="xlarge"
                            [shape]="getPathSection(field) ==='auteur' || getPathSection(field)==='professeur' ? 'circle' : 'square'" />
                    </td>
                }
                @else {
                    <td>{{ getDataWithtKey(field , data) }}</td>

                }
            }
            <td>
                <div class="content-action">
                    <i class="pi pi-pen-to-square edit" style="font-size: 1rem" (click)="onEdit(data)"></i>
                    <i class="pi pi-trash mx-2 delete" style="font-size: 1rem" (click)="onDelete(data)"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

