<div class="content-form">
    <form [formGroup]="auteurForm" (submit)="auteur._id ?  updateAuteur() : saveAuteur()">
    <mat-card>
        <mat-card-header class="header-card">
            <app-header [headTitle]="headTitle" style="width: 100;"></app-header>
        </mat-card-header>
        <mat-card-content>
                <div class="w-100 pb-3">
                        <div class="row mt-3">
                            <div mat-form-field class="form-group w-50 mr-5">
                                <label class="my-2">Nom</label>
                                <input class="form-control" placeholder="titre de l'assignment" formControlName="nom" />
                                <span class="form-text text-muted">Nom du auteur 5 à 25 caractères</span>
                            </div> 
                        </div>
                        <div class="row mt-3">
                            <label class="my-2">Photo d'auteur</label>
                            <div class="content-upload-input">
                                <app-upload-file [config]="configUpload" [dataChecked]="dataChecked" [image_Uri]="this.img_uri" (fileChanged)="onChangeFile($event)"></app-upload-file>
                            </div>
                        </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button style="background-color: #2a7cc9; color: #fff;" [disabled]="!auteurForm.valid" >
                    @if (loadingAction) {
                        <span class="spinner-border spinner-border-sm mr-3" role="status" aria-hidden="true"></span>
                        <span>{{auteur._id ? 'Modif...' : 'Ajout...'}}</span>
                    }
                    @else {
                        <span>{{auteur._id ? 'Modifer' : 'Ajouter'}}</span>
                    }
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>