<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar"  *ngIf="showNavbar">
    <div class="custom-menu">
      <button type="button"  id="sidebarCollapse" class="btn btn-primary" >
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4 pt-5 d-flex flex-column justify-content-between" style="height: 100%;">
      <div class="head-side-bar">
        <h1><a [routerLink]="'/assignment/'" class="logo">Assign-E</a></h1>
        <hr>
        <ul class="list-unstyled components mb-auto">
          <li class="active" *ngFor="let menu of menuList; let i = index">
            <a
            [routerLink]="menu.routerLink"
              [href]="'#menu'+i" data-bs-toggle="collapse" aria-expanded="false"
              (click)="toggleCollapse(i)"
              [ngClass]="{ 'active-menu-parent': i === currentlyOpenItemIndex }"
              [attr.aria-controls]="'menu'+i"
              [class]="menu.children ? 'dropdown-toggle' : ''"
              style="position: relative;"
              ><span class="mr-3"><i [class]="'fa-solid fa-'+menu.icon"></i></span>{{menu.title}}</a
            >
          </li>
        </ul>
      </div>
      <div class="bottom-side-bar">
        <hr>
        <div class="content-log-out " (click)="isLogIn() ? onLogOut() : onLogin()" style="position: relative;">
          <a type="button" class="btn d-flex justify-content-around">
            @if (isLogIn()) {
              <span>
                <i class="fas fa-sign-out" aria-hidden="true"></i>
              </span>
              Se deconnecter
            }
            @else {
              <span>
                <i class="fas fa-sign-in" aria-hidden="true"></i>
              </span>
              Se connecter
            }
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="content-tool-bar"  *ngIf="showNavbar">
      <mat-toolbar class="tool-bar" style="padding: 0 40px;">
        <span class="example-spacer"></span>
        <span mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <i class="fas fa-user"></i>
          {{name}}
        </span>
      </mat-toolbar>
    </div>
    <div class="content-body" style="padding: 40px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>