/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeicons/primeicons.css';

html, body { height: 100%; overflow: hidden;   }
body { margin: 0;  }

*{
    font-family: 'Poppins', Open Sans;
}


.form-control:focus{
    box-shadow : none
}

.mat-mdc-card-header{
    border-bottom: 1px solid #d8d9db;
    display: flex;
   }

   .text-muted{
    color: #b5b5c3 !important;
   }

   input::placeholder , textarea::placeholder{
    color: #dfdbdb !important;
    font-size: 13px !important;
}


input , textarea{
    font-size: 13px !important;
    color: rgb(63, 63, 63);
}


.text-init-color{
    color: #292929;
}

.error-color{
    color: #d33c44;
  }
  
  .error-bg{
    background-color: #d33c44;
  }
  
  .success-color{
    color: #2aa82a;
  }
  
  .success-bg{
    background-color: #2aa82a;
  }