
  .header-card{
  position: sticky;
  top: -5%;
  z-index: 1;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  }

.icon-add-fixed{
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.spin-content{
  height: 300px;
}


.content-paginator{
  width: 82%;
  position: fixed;
  bottom: 0;
}
