
<div class="content-list-assignment">
    <div class="content-list mb-5">
        <div class="header-card">
            <app-header [headTitle]="headTitle" [haveSearch]="true" style="width: 100%;" [config]="headerConfig" (filterClickEvent)="onFilter($event)"></app-header>
        </div>
        <mat-card-content class="pl-2">
            @if (!loading['data']) {
                @if (assignments.length>0) {
                    <div class="row">
                        @for (assignment of assignments; track $index) {
                            <div class="item-assignment col-md-3" style="margin-bottom: 30px;">
                                <app-card-assignment [assignment]="assignment" ></app-card-assignment>
                            </div>
                        }
                    </div>
                }@else {
                    <div class="d-flex row align-items-center">
                        <p class="text-center">Aucune assignment trouver !</p>
                    </div>
                }
            }
            @else{
                <div class="spin-content">
                    <app-spin></app-spin>
                </div>
            }
        </mat-card-content>
    </div>
    <div class="content-paginator">
        <div class="flex-auto">
            <p-paginator
                locale="en-US"
                (onPageChange)="onPageChange($event)"
                [first]="first"
                [rows]="rows"
                [totalRecords]="totalDocs"
                [rowsPerPageOptions]="[12, 24 , 48]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Vue de {first} à {last} des {totalRecords} docs" />
        </div>
    </div>
    @if(isAdminConnected){
        <div class="icon-add-fixed">
            <a type="button" [routerLink]="[ '/add-assignment' ]" mat-fab style="background-color: #1766af;" aria-label="Example icon button with a delete icon">
                <i style="font-size: 20px;" class="fas fa-plus"></i>
            </a>
        </div>
    }
</div>


