<!-- <p>assignment works!</p> -->

<div class="content-list-assignment row">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Liste des Assignment</mat-card-title>
        </mat-card-header>
    </mat-card>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
        <div class="row">
            <div class="item-assignment" *cdkVirtualFor="let assignment of assignments">
                <app-card-assignment [assignment]="assignment"></app-card-assignment>
            </div>

        </div>
    </cdk-virtual-scroll-viewport>
</div>
